.multi-city{
   font-size: 14px;
   display: inline-flex;
   align-items: center;
   gap: 1rem;
}
.form-group{
   margin-top: 1rem;
}
.destination-group{
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}
.selection-input{
   position: relative;
   display: inline-block;
}
.selection-input_input{
   display: flex;
   flex-direction: row;
   align-items: center;
   box-sizing: border-box;
   border: 1px solid #ccc;
   border-radius: 10px;
   overflow: hidden;
}
.selection-input_input>input{
   font-size: 16px;
   padding: 10px;
   outline: none;
   border: 0px;
}
.selection-input_selection{
   position: absolute;
   top: 40px;
   max-height: 100px;
   overflow-y: scroll;
   z-index: 100;
   opacity: 0;
   background: white;
   cursor: pointer;
   width: 100%;
   padding: 5px;
}
.selection-input_icon{
   position:absolute;
   right: 5px;
}
.selection-input_focus{
   border: 1px solid royalblue;
}
.show-selection{
   animation-delay: 1s;
   animation: show_options 250ms ease-in forwards ;
}
.hide-selection{
   animation-delay: 1s;
   animation: hide_options 250ms ease-in forwards ;
   
}
.selection_option{
   padding: 5px 3px;
}
.selection_option:hover{
   background-color: #a3d0fa;
}
.selection-input_date{
   color: #aaa;
}
.selection-input_date::-webkit-calendar-picker-indicator{
   filter: invert(0.6);
}


@keyframes show_options {
   from{opacity: 0;}
   to{opacity: 1; z-index: 100;}
}
@keyframes hide_options {
   0%{opacity: 0; }
   99%{opacity: 0; }
   100%{opacity: 0; z-index: -100;}
}

/* People selection */
.people-selection_body{
   user-select: none;
   width: 300px;
   padding: 10px 1rem;
   max-height: unset;
   border-radius: 20px;
   overflow: hidden;
   background-color: #eee;
}
.people-selection-title{
   font-size: 25px;
   line-height: 1rem;
   font-weight: bold;
   margin: 0px;
}
.people-selection-sub{
   font-size: 14px;
   margin: 0px;
}

.people-selection_item{
   display: flex;
   margin-top: 1rem;
   align-items: center;
   flex-direction: row;
}
.people-selection_column{
   display: flex;
   flex-direction: column;
}
.people-selection_control{
   padding: 0px 20px;
   align-items: center;
}

.people-selection_remove , .people-selection_add{
   padding: 10px;
   transition: all 200ms ease-in;
   line-height: 1;
   border-radius: 1000px;
   border: 1px solid #aaa;
   box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.people-selection_remove:hover , .people-selection_add:hover{
   border: 1px solid #367FD8;
   color: #367FD8;
}
.people-selection_text{
   min-width: 1rem;
   text-align: center;
}

.internation-form_submit{
   all: unset;
   cursor: pointer;
   line-height: 1;
   padding: 10px 10px;
   text-align: center;
   border-radius: 10px;
   background: #1890ff;
   color: white;
}
.internation-form_submit:hover{
   background: #177ddd;
}
.submit-group{
   display: grid;
   column-gap: 1rem;
   grid-template-columns: 1fr 1fr;
   justify-content: space-between;
}
.submit-group_inputs{
   display: grid;
   gap: 1rem;
   grid-template-columns: 1fr 1fr;
}
.grid-break{
   column-gap: unset;
   row-gap: 1rem;
   grid-template-columns: 1fr;
}
.row-span-2{
   grid-column: 1/span2;
}

/* Multi City Styles */

.multicity-formgroup{
   display: grid;
   gap: 1rem;
   grid-template-columns: 4fr 4fr 4fr 1fr;
}

.remove-column{
   border: 1px solid #bbb;
   font-size: 14px;
   padding: 10px 10px;
   text-align: center;
   border-radius: 10px;
}

.remove-column:hover{
   border-color: #1890ff;
   color: #1890ff;
}

.add-column{
   width: 100%;
   cursor: pointer;
   user-select: none;
   text-align: center;
   line-height: 1;
   margin-top: 1rem;
   padding: 10px 0px;
   border: 1px solid #bbb;
   border-radius: 10px;
}
.add-column:hover{
   border: 1px solid #1890ff;
   color: #1890ff;
}
.selection-input_label{
   position: absolute;
   display: none;
   color: #888;
   width: calc(100% - 30px);
   top: 0px;
   pointer-events: none;
   padding: 8px;
   margin: 2px;
   overflow: hidden;
   background-color: white;
}

.selection-input_label_show{
   display: block;
}
.tab-heading_icon{
   display: inline-block;
   margin-right: .5rem;
}
.acitve-tab{
   color: #1890ff;
}