.app {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main_card {
  width: 700px;
}

.main_card_title {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}

.main_card_body {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  width: 700px;
}
.card_head {
   position:  relative;
  padding: 5px;
}
.card_head_item {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
  padding: 15px 0px;
  z-index: 100;
}
.card_head_devider{
   position: absolute;
   border-top: 1px solid #ddd;
   bottom: -5px;
   width: 100%;
}

.flex{
   display: flex;
}
.flex-row{
  flex-direction: row;
}
.flex-col{
  flex-direction: column;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.items-center{
   align-items: center;
}
.space-between{
  justify-content: space-between;
}
.w-full{
  width: 100%;
}
.break-flex{
  width: 600px;
}